
.icon-phone:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-mail-alt:before { content: '\e809'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */